<!-- <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-tabs">
  <li *ngFor="let item of items" [ngbNavItem]="item.id">
    <button ngbNavLink>{{ item.title }}</button>
    <ng-template ngbNavContent>
      <p>{{ item.content }}</p>
    </ng-template>
  </li>
</ul> -->
<!-- <router-outlet></router-outlet> -->


<!-- <div [ngbNavOutlet]="nav" class="mt-2"></div> -->

<!-- <div class="mb-3">
	<button class="btn btn-sm btn-outline-primary" [disabled]="active === 2" (click)="nav.select(2)">
		Select second tab
	</button>
	<button class="btn btn-sm btn-outline-primary ms-2" (click)="toggleDisabled()">Toggle last disabled</button>
</div> -->

<!-- <pre>Active: {{ active }}</pre> -->